body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  background-image: url('engrenagem-fundo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  background-attachment: fixed;
  min-height: 100vh;
  filter: brightness(95%);
}

/* Responsividade */
@media (max-width: 1200px) {
  body {
    background-size: 50%;
  }
}

.login-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  margin: 80px auto;
  width: 300px;
}

h1 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.formulario-login input {
  margin: 5px;
  padding: 10px;
  width: 220px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario-login button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

.formulario-login button:hover {
  background-color: #45a049;
}
